:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.event{
  background: #213547;
}
#row{ 
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;  
}
.card{
 border-color: none;
 color: #213547;
  /* box-shadow: 0 2px 4px rgba(245, 245, 245, 0.2); */
}
.cont{

 color: navajowhite;
}
.btn{
  color: #213547;
}
p{
  font-size: 14px;
  font-style: italic;
}
.navbar{
  background: #111827;
  
}
h3{
  color: white;
}
.btn{
  background-color: yellow;
}